pom.xml
pom.xml.asc
*.jar
*.class
**/.DS_Store
/input/
/output/
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.lsp/
